.c1{
    background-color: lightblue;
}
.c2{
    background-color:lightgray;

}
.c3{
    background-color:lightcyan;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;/* very important to use flex basis to say class to take whole space which is given to you*/
    max-width: 33.3%;
 
   

}
@media  screen and (max-width:400px) {
    .row,.column{
       display: block;
        
    }
    
}